%html
  %head
    %title 
      Group Calendar: 
      = @users.join(', ')
    %link{:rel => 'icon', :type => 'image/png', :href => '/images/x_1.png', :sizes => '48x48'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/main.css'}
    %script{:type => 'text/javascript', :src => '/javascripts/mootools.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/application.js'}
  %body
    .title 
      Group Calendar
    .subtitle
      for
      - for user in @users
        %a{:href => "http://github.com/#{user}"}
          = user
    #calendar
      = group_seinfeld
    #main
      #content.footnote 
        %a{:href => "http://calendaraboutnothing.com"} Calendar About Nothing
        by <a href="http://techno-weenie.net">rick</a> and <a href="http://warpspire.com/">kyle</a> / <a href="http://entp.com">ENTP</a>