%html
  %head
    %title Calendar About Nothing: Tracking Open Source Contributions
    %link{:rel => 'icon', :type => 'image/png', :href => '/images/x_1.png', :sizes => '48x48'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/main.css'}
  %body
    .title Calendar About Nothing
    .subtitle Tracking Open Source Contributions
    #borderedMain
      #content
        %h1 What is this?
        %p
          The Calendar About Nothing generates a 
          "<a href="http://lifehacker.com/software/motivation/jerry-seinfelds-productivity-secret-281626.php">Seinfeld Calendar</a>"
          from your public
          "<a href="http://github.com">Github</a>" feed.
        %p
          %strong Commit
          to an open source project: get an 
          %strong X
          for the day.
          Commit tomorrow, and start building up your
          %strong streak.
        %p
          %strong Get started
          by logging into Github and sending a direct message to the
          %var 
            %a{:href => 'http://github.com/calendaraboutnothing'} calendaraboutnothing
          user.

        %h2 "Neat Idea..."
        %p "... but I want to add my own events!"
        %p
          There's another project that uses the same seinfeld calendar idea called
          %a{:href => "http://dontbreakthechain.com/"} Don't Break the Chain.
          I intend to keep CAN completely automated.
          
        .clearfix
          #recentUsers
            %h2 Current Streaks
            %ul
              - @recent_users.each do |user|
                %li
                  = link_to_user user
          #userRecords
            %h2 Longest Streaks
            %ul
              - @alltime_users.each do |user|
                %li
                  = link_to_user user, :longest_streak
    #main
      #content.footnote 
        %a{:href => "http://calendaraboutnothing.com"} Calendar About Nothing
        by <a href="http://weblog.techno-weenie.net">rick</a> and <a href="http://warpspire.com/">kyle</a>.
        %br
        %a{:href => "http://github.com/entp/seinfeld/tree/master"} accepting patches