%html
  %head
    %title Seinfeld
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/main.css'}
    %script{:type => 'text/javascript', :src => '/javascripts/mootools.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/application.js'}
  %body
    .title Seinfeld
    .subtitle Tracking your Open Source Contributions
    #calendar
      = seinfeld